<div class="container mt-3">
    <div class="card">
        <div class="jumbotron text-center">
            <div class="card-header"> Customer Profil</div>
            <img src="" alt="introuvable">
        </div>
        <div class="card-body">
            <label class="input-group-text">Id</label>
            <div>{{customer.id}}</div>
            <label class="input-group-text"> Name</label>
            <div>{{customer.name}}</div>
            <label class="input-group-text"> Email</label>
            <div>{{customer.email}}</div> 
        </div>
    </div>
</div>
