<div class="container mt-2">
<h1>New customer</h1>
<form class="form-groupe" [formGroup]="customerFormGroup" (ngSubmit)="saveCustomer()">
    <div class="mb-3">
        <label>Name</label>
        <input type="text" class="form-control" formControlName="name">
        <span class="text-danger"
            *ngIf="customerFormGroup.controls['name'].touched
            &&customerFormGroup.controls['name'].errors
            &&customerFormGroup.controls['name'].errors!['required']          
        ">Name is required</span>
    </div> 
    <div class="mb-3">
        <label>E-mail</label>
        <input type="text" class="form-control" formControlName="email">
        <span class="text-danger" 
            *ngIf="customerFormGroup.controls['email'].touched
            &&customerFormGroup.controls['email'].errors
            &&customerFormGroup.controls['email'].errors!['email']"
        > invalid E-mail</span>
    </div>
    <div class="spacer">
        <button [disabled]="!customerFormGroup.valid" class="btn btn-secondary"> subscibe</button>
    </div>  
</form>
</div>